@tailwind base;
@tailwind components;
@tailwind utilities;

.slide {
  @apply flex justify-center items-center w-full bg-center bg-no-repeat bg-cover mx-auto rounded-[10px];
}

/* Background image slides with dark overlay */
.slide1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/28-534x267.jpg');
}

.slide2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/34-730x486.jpg');
}

.slide3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/40-730x486.jpg');
}
